.Carousel-container {
  width: 80%;
  margin: 0 auto;
  height: 400px;
}

.Carousel-inner {
  border: 1px solid black;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
}

.Carousel-slider {
  height: 100%;
  display: flex;
  width: 400%;
  flex-shrink: 0;
  transition: all 0.5s;
}

.Carousel-slider section {
  flex-basis: 25%;
  flex-shrink: 0;
  flex: 1;
  width: 20%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.Carousel-controls {
}

.Carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.Carousel-arrow.left {
  left: 10px;
}

.Carousel-arrow.right {
  right: 10px;
}
