.SliderSection-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.SliderSection-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: absolute; */
  color: white;
  text-decoration: none;
  font-size: 6em;
  background: rgb(0, 0, 0);
  width: 80px;
  padding: 20px;
  text-align: center;
  z-index: 1;
}

.left {
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

.right {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
}
